.purchasesWrapper {
  direction: flex;
  flex-direction: row;
}

.purchaseContainer {
  direction: flex;
  flex-direction: column;
  justify-content: space-around;
}
.history{
  display: flex;
  flex-direction: column;
}