.purchasesWrapper {
  border: solid red 2px;
  direction: flex;
  flex-direction: column;
}

.purchaseContainer {
  width: 1000px;
  direction: flex;
  flex-direction: row;
  justify-content: left;
}
.history {
  display: flex;
  flex-direction: column;
}
