.detailPage {
    background: rgba(74, 47, 3, 0.5);
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 5% 5% 4% 5%;;
    margin: 0px;
    background-size: contain;
}

.box {
    display: flex;
    /* align-content: inherit; */
    flex-direction: row;
    border-radius: 10px;
    color: rgb(35,20,10);
    background-color: rgb(245, 245, 245);
    height: 535px;
    min-height: 650px;
}
.leftContainer{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 50px 20px 20px 20px;
    border-radius: 10px 0  0 10px;
    min-width: 600px;
    min-height: 650px;
    margin-right: 100px;
}
.containerR{
    padding: 50px 20px 20px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.leftContainer img{
    width: 60%;
}
.containerR p{
    text-align: left;
    width: 60%;
    line-height: 22px
}

.textBox{

font-size: 26px;
line-height: 30px ;

}
.comments{
    margin-top: 50px;
}
