.modal {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  position: absolute;
  background-color: #fff;
  min-width: 420px;
  max-width: 480;
  max-height: 200px;
  min-height: 500px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: rgba(255, 253, 253, 0.867);
  box-shadow: -2px 0px 53px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 0px 53px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 53px 4px rgba(0, 0, 0, 0.75);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: .3s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}