.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 350px;
    width: 100%;
}

.item img{
    height: 100%;
}

.trash{
    border: 2px solid rgb(35,20,10);
    position: absolute;
    margin-left: 1250px;
    height: 4rem;
    width: 4rem;
    background-color: rgb(35,20,10);
    color: rgb(185,155,103);
    border-radius: 50px;
}

.h2{
    height: auto;
    width: 500px;
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(35,20,10);
}

.p{
    color: rgb(35,20,10);
    font-size: 30px;
    font-weight: bold;
    height: 80px;
    width: 120px;
}

.p2{
    color: rgb(35,20,10);
    font-size: 40px;
    height: 80px;
    width: 120px;
    font-weight: bold;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 460px;
}

.amount2{
    padding: 20px 20px;
}

.amount2 button{
    font-weight: bold;
    color: rgb(185,155,103);
    background-color: rgb(35,20,10);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border : 2px solid rgb(35,20,10);
}

.amount2 input{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 159, 41, 0.20) ;
    color: rgb(35,20,10);
    height: 3rem;
    width: 3rem;
    margin: 0px 10px 0px 10px;
    border : rgba(255, 159, 41, 0.20) 2px;
}