.select{
    padding: 5px;
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: #704021;
    cursor: pointer;
}
@media (max-width:1280px){
    .select{
        padding: 2px;
        text-decoration: none;
        color: antiquewhite;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 500;
        font-size: 15px;
        background-color: #704021;
        cursor: pointer;
    }
}

@media (max-width:900px){
    .select{
        padding: 5px;
        text-decoration: none;
        color: antiquewhite;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 400;
        font-size: 12px;
        background-color: #704021;
        cursor: pointer; 
}
}