.flor {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 40px;
    max-height: 140vh;
    min-height: 140vh;
    margin-bottom: 400px;
    padding: 120px 50px 0 50px;
}

.flor img {
    width: 20%;
    border-radius: 50%;
}

.hola {
    display: flex;
    flex-direction: row;
}

.hola h3 {
    margin: 10px;
}

.margen {
    margin-left: 10%;
   text-align: left ;
}