@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.navbar{
    /* margin: 3% 8% 2% 2%; */
    /* background: rgb(253, 249, 243); */
    height: fit-content;
    width: 100%;
    background-size: inherit;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;


}
.homeContainer{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px, 400px, 0, 400px ;
   /*  background-color: rgb(253, 249, 243); */
    align-items: center;
    align-content: center;
    color: rgb(35,20,10) ;

      
}
h1{
    /* font-family: 'Staatliches', cursive; */
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-top: 25px;
    color: rgb(35,20,10) ;
}
.beerBox{
    padding: 80px 100px 0 100px; 
    /* background-color: aqua; */
}
.paginate{
    margin: 100px 0 10px 0;
    
}
.footer{
    margin-top: 8%;
}
.tittle{
    font-size: 50px;
}
