.showBeers {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 20px;
    max-height: 140vh;
    min-height: 140vh;
    margin-bottom: 45%;
    z-index: 0;
    position: absolute;
}

.cardsBox {
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    justify-content: space-evenly;
    /* margin: 1rem, 0; */
}

.cardsContainer {
    width: auto;
    height: auto;
    /* padding: 0 0 2rem 0; */
}
.distance{
    margin: 5px 0 100px 0;
} 
.filters{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    left:40%;
    justify-content: space-evenly;
}
.filters .distribution{
    margin: 0 10px 0px 10px;
}
.buttonB{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: #704021;
    padding: 5px;
    cursor: pointer;
}

@media (max-width:1280px){
    .buttonB{
        text-decoration: none;
        color: antiquewhite;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 500;
        font-size: 16px;
        background-color: #704021;
        padding: 2px;
        cursor: pointer;
    }
}

@media (max-width:900px) {
    .showBeers {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 10px;
        max-height: 78%;
        min-height: 78%;
        margin-bottom: 40px;
        padding:0px 10px 0 10px ;
    }
    
    .cardsBox {
        display: flex;
        flex-wrap: wrap;
        height: 75%;
        justify-content: space-evenly;
        /* margin: 1rem, 0; */
    }
    
    .cardsContainer {
        width: auto;
        height: auto;
        /* padding: 0 0 2rem 0; */
    }
    .distance{
        margin: 5px 0 40px 0;
    } 
    .filters{
        display: flex;
        flex-direction: row;
        align-content: center;
        left:40%;
        justify-content: space-evenly;
        margin: 0 10px 0 10px;
    }
    .filters .distribution{
        margin: 0 10px 0px 10px;
    }
    .buttonB{
        text-decoration: none;
        color: antiquewhite;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 500;
        font-size: 14px;
        background-color: #704021;
        padding: 2px 5px 2px 5px;
        cursor: pointer;
    }
}