.searchBox {
  position: absolute;
  transform: translate(-180%, -180%);
  background: rgb(254, 244, 233);
  height: 40px;
  border-radius: 0px;
  padding-left: 0px;
  flex-direction: column;
  width: 300px;
  margin: 12px 100px 0 100px;
  display: flex;
  flex-direction: row;
  z-index: 4;

}

.autocomplete {
  list-style: none;
  background-color: rgb(255, 241, 223);
  margin: 0px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 0px;

}
.autocomplete li{
  cursor: pointer;
}

.searchBtn {
  cursor: pointer;
  border: none;
  color: bisque;
  /*  float: right; */
  width: 40px;
  height: 40px;
  border-radius: 0%;
  background-image: url('../../img/searchbutton.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0 0 0px;
  /* background: violet; */
  /* left: 40%; */
}

.searchTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(35, 20, 10);
  font-size: 18px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;
  padding-left: 10px;
  font-family: 'Trebuchet MS', sans-serif;
}

.cleanBtn {
  border: none;
  border-radius: 0px;
  color: bisque;
  background-color: #704021;
  padding: 2px 5px 2px 5px;
  font-family: 'Trebuchet MS', sans-serif;
  height: 40px;
  width: 80px;
  font-size: 20px;
  margin: 0px 0 0 10px;



}

.buttonsAlign {
  display: flex;
  align-content: center;
  flex-direction: row;
}

@media (max-width:1280px){
  .searchBox {
    position: absolute;
    transform: translate(-200%, -190%);
    background: rgb(254, 244, 233);
    height: 30px;
    border-radius: 0px;
    padding-left: 0px;
    flex-direction: column;
    width: 250px;
    margin: 12px 100px 0 100px;
    display: flex;
    flex-direction: row;
    z-index: 4;
  
  }
  
  .autocomplete {
    list-style: none;
    background-color: rgb(255, 241, 223);
    margin: 0px;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
  
  }
  .autocomplete li{
    cursor: pointer;
  }
  
  .searchBtn {
    cursor: pointer;
    border: none;
    color: bisque;
    /*  float: right; */
    width: 30px;
    height: 30px;
    border-radius: 0%;
    background-image: url('../../img/searchbutton.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 0 0px;
    /* background: violet; */
    /* left: 40%; */
  }
  
  .searchTxt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(35, 20, 10);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    padding-left: 10px;
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  .cleanBtn {
    border: none;
    border-radius: 0px;
    color: bisque;
    background-color: #704021;
    padding: 2px 5px 2px 5px;
    font-family: 'Trebuchet MS', sans-serif;
    height: 30px;
    width: 80px;
    font-size: 18px;
    margin: 0px 0 0 10px;
  
  
  
  }
  
  .buttonsAlign {
    display: flex;
    align-content: center;
    flex-direction: row;
  }
}

@media (max-width:900px) {
  .searchBox {
    position: absolute;
    transform: translate(-210%, -180%);
    background: rgb(254, 244, 233);
    height: 30px;
    border-radius: 0px;
    padding-left: 0px;
    flex-direction: column;
    width: 180px;
    margin: 20px 100px 0 80px;
    display: flex;
    flex-direction: row;
    z-index: 4;

  }

  .autocomplete {
    list-style: none;
    background-color: rgb(255, 241, 223);
    margin: 0px;
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0px;

  }

  .searchBtn {
    cursor: pointer;
    border: none;
    color: bisque;
    /*  float: right; */
    width: 30px;
    height: 30px;
    border-radius: 0%;
    background-image: url('../../img/searchbutton.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 0 0px;
    /* background: violet; */
    /* left: 40%; */
  }

  .searchTxt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(35, 20, 10);
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 160px;
    padding-left: 10px;
    padding-top: -15px;
    font-family: 'Trebuchet MS', sans-serif;
  }

  .cleanBtn {
    border: none;
    border-radius: 0px;
    color: bisque;
    background-color: #704021;
    padding: 2px 5px 2px 5px;
    font-family: 'Trebuchet MS', sans-serif;
    height: 30px;
    width: 50px;
    font-size: 12px;
    margin: 0px 0 0 10px;



  }

  .buttonsAlign {
    display: flex;
    align-content: center;
    flex-direction: row;
  }
}