.detailCompra {
    display: block;
    padding: 1rem;
    border: 0.1rem solid #52453b;
    border-radius: 5px;
    margin: 60px 20px 20px 20px;
  }
  .detailCompra .addTo {
    display: flex;
    justify-content: space-between;
  }
  .detailCompra .addTo button {
    border: none;
    border-radius: 1px;
    width: 40px;
    height: 40px;
    background-color: rgb(185,155,103);
  }
  .detailCompra .addTo button .icon {
    transition: transform 0.5s;
  }
  .detailCompra .addTo button .icon:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .detailCompra .buy {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 20px 20px 10px 20px;
    font-size: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    border-radius: 2px;
    align-items: center;
    outline: none;
    border: none;
    background-color: rgb(185,155,103);
    transition: transform 0.5s;
  }
  .detailCompra .buy:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #704021;
    color:antiquewhite;
  }
  .detailCompra h3 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin: 5px 0 30px 0;
  }
  .spaceL{
    margin: 20px 10px 0 30px;
  }
  @media (max-width:1280px){}
  @media (max-width:900px){}