.modalBackground {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 99999;
}

.purchasesWrapper {
  direction: flex;
  flex-direction: column;
}

.purchaseContainer {
  direction: flex;
  flex-direction: row;
  justify-content: space-around;
}

table {
  width: 1000px;
  background-color: white;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

tr:hover td {
  font-size: 14px;
  font-weight: 600;
}
