@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.checkout{
  background: rgba(74, 47, 3, 0.5);
    width: auto;
    min-height: 100vh;
    max-height: auto;
    padding: 120px 60px 0px 50px;
   
}
.checkout h1 {
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(35,20,10);
   
  }
  .checkout .paypal {
    display: flex;
    justify-content: center;
    border-color: blueviolet;
    height: auto;
    
  }
  .checkoutCont {
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin: 0 0px 20px 0px;
    background-color: rgb(245,245,245);
    width: 95%;
    height: auto;
    min-height: 550px;
    padding: 30px 40px 20px 40px;
    border-radius: 10px;
  }
   .pay {
    position: relative;
    top: 20px;
    background-color: rgb(185, 155, 103,0.10);
    padding: 20px 20px;
    width: 50%;
    margin: 0 10px 0 10px;
    height: min-content;
    min-height: 450px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid rgb(185, 155, 103,0.10);
    border-radius: 10px;
    align-items: center;
    
  }
  .payInfo{
    /* background-color: blueviolet; */
    margin-bottom: 20px;
  }
  .pay h3 {
    font-size: 20px;
    text-align: justify;
    padding-top: '12px';
    align-content: center;
  }