.modal-container:hover {
  cursor: default;
}

.modal-container button {
  font-size: 20px;
  outline: none;
  padding: 4px 10px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-color: #704021;
  color: antiquewhite;
}

.modal-container button:hover {
  background-color: #a5704d;
  cursor: pointer;
}


.container {
  background-color: antiquewhite;
  color: rgb(35, 20, 10);
  height: 500px;
}

.container img {
  background: none;
  margin-top: 10px;
  height: 100px;
  width: 100px;
}

.container h2 {
  margin-top: 50px;
  margin-bottom: 80px;
}

.container p {
  margin-bottom: 70px;
  font-size: 30px;
}

.container button {
  background-color: #704021;
}