.box{
    padding: 0 500px 0 500px;
}
.image {
    background-size: contain;
    height: 45vh;
    width: 350px;
    margin-right: 20px;
    background-color: rgba(6, 169, 50, 0.432);
    

}

.modalcontainer {
    background-color: bisque;
    color:rgb(2, 32, 10);
    width: 900px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 20px 20px 50px 20px;
    border-radius: 20px;
    box-shadow: 100px;
    

    

}
h1{
 color: antiquewhite;
    font-family: 'Trebuchet MS',sans-serif;
    font-weight: bolder;
    font-size: 60px;
}
p{
    font-size: 26px;
}
.close{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left:  870px; ;
}
.closebtn{
    max-height: 50px;
    max-width: 150px;
    border-radius: 45%;
    background-color: brown;
    border-color: brown;
    color: blanchedalmond;
}
.title{
    color: rgb(2, 32, 10);
       font-family: 'Trebuchet MS',sans-serif;
       font-weight: bolder;
       font-size: 60px;
       margin-bottom: 40px ;
       margin-top: 40px;
   }
   .button{
    background-color: rgb(2, 32, 10);
    margin: 80px 10px 20px 10px;
    margin-top: 60px;
    color: bisque;
    font-size: 25px;
    border-radius: 10px;
    font-family: 'Trebuchet MS',sans-serif;
    padding: 5px 10px 5px 10px;
   }

.content{
    display: flex;
    flex-direction: row;
}
.intro{
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    flex-direction: row;
}