.navbar {
    width: auto;
    height: 15vh;
    background-color: rgb(2, 32, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
}